.wrapper {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: max-content;
    gap: 50px;

    .childBlock {
        display: flex;
        align-items: center;
        flex-direction: column;

        .imageBlock {
            display: flex;
            align-items: start;
            flex-direction: column;

            .back {
                background-color: transparent;
                border: none;
                font-family: "Baskerville Old Face", sans-serif;
                font-size: 24px;
                font-weight: 400;
            }

            .img {
                width: 595px;
                height: 600px;
            }
        }

        .icons {
            display: flex;
            align-items: center;
            gap: 25px;
        }
    }

    .price {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;

        .p {
            font-family: 'Cera Pro', sans-serif;
            font-weight: 400;
            font-size: 24px;
            color: rgba(46, 46, 46, 1);
        }

        .h3 {
            font-family: 'Cera Pro', sans-serif;
            font-weight: 700;
            font-size: 36px;
            color: rgba(210, 181, 116, 1);
        }
    }
}